// Define variables for your color scheme

// --------Melo Colors ------
$red: #B9302A;
$blue: #0363B6;
$yellow: #E8B503;
$tan: #E0BFA0;
$black: #221E1F;
$pink: #EDCBBF;
$teal: #2297A1;
$orange: #E3591A;
$orange2: #E06229;
//--------
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
