<div class="container">
  <h1>welcome to artists index</h1>
  <div class="card-container">
    <% @artists.each do |artist| %>
      <div class ="artist-card">
        <div class="grid-container">
          <%# TASK 1 adding photo and change name class in scss %>
          <img src="https://i.pinimg.com/originals/de/35/19/de35193ea25fad8dc2a3a64e24c574ff.jpg" alt="artist photo" class="main-img">
          <%# end %>

          <div class="grid-item grid-item-1"></div>
          <div class="grid-item grid-item-2">
            <div class="rating">★6.9</div>
          </div>
          <div class="grid-item grid-item-3"></div>
          <div class="grid-item grid-item-4"></div>
           <div class="bottom-content">
            <div class="top">
              <h2>Jessica</h2>
            </div>
            <div class="middle">
              <p class="tags"></p>
            </div>
            <div class="bottom">
              <div class="location"></div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>



        </div>
      </div>
    <% end %>
  </div>















</div>
