<div class="container">
  <h1>Create your Profile</h1>
  <h4>You are just a few moments away from putting yourself out there!</h2>
  <h5>Youll need to tell us a bit about your self/group before your profile goes live: </h5>
  <ul class="requirements">
    <li>A profile image</li>
    <li>A banner image</li>
    <li>A short artist description</li>
    <li>Your specialty (instrument/performance)</li>
    <li>A few links to your socials (our users love to see more about you before they hire)</li>
  </ul>
  <%= link_to 'Continue to profile creation', new_artist_path, class: 'btn btn-primary'%>
</div>
