#landing-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    height: 20%;
    width: 100%;
    font-size: 4rem;
    display: flex;
    color: $black;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

#squares {
  display: grid;
  width: 100%;
  height: 70%;
  margin: 5% 0%;
  justify-content: center;
  // grid-template-columns: 20vw 20vw 20vw 20vw;
  // grid-template-rows: 20vw 20vw 20vw 20vw 20vw 20vw 20vw;
  grid-template-columns: 10vh 10vh 10vh 10vh;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
  div {
    aspect-ratio: 1;
  }
  .square1 {
    background: $red;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .square2 {
    background: $blue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .square3 {
    background: $yellow;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .square4 {
    background: $blue;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .square5 {
    background: $red;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .square6 {
    background: $yellow;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .square7 {
    background: $yellow;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .square8 {
    background: $red;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .square9 {
    background: $blue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .square10 {
    background: $yellow;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .square11 {
    background: $red;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .square12 {
    background: $blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .square13 {
    background: $red;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .square14 {
    background: $yellow;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .square15 {
    background: $black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .square16 {
    background: $red;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .square17 {
    background: $blue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .square18 {
    background: $yellow;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .login, .signup {
    background: $black;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.4rem;
  }
  .login {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .signup {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
