<div class="container">
<div class="confirmation-page">
<h3>Your booking request has been sent to <%= @booking.artist.name %></h3>
</div>
<%= link_to 'See my Bookings', '/bookings', class: 'btn btn-danger' %>
</div>
