

<div id="menu-container" data-navbar-target='bubbleMenu'>
  <div class="links">
    <%= link_to 'Log Out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'btn btn-primary'%>
  </div>
</div>

<% unless @no_buttons %>
<div id='toggle' data-action='click->navbar#showMenu' data-navbar-target='toggleButton'>
  <div class='line1'></div>
  <div class='line2'></div>
  <div class='line3'></div>
</div>
<% end %>
