<div id="melo-nav">
  <div class="bar">
    <a href="/artists" id='melo-logo-text'>mélo</a>

    <% unless @no_buttons %>
      <a href="/message_rooms" class="nav_button">
        <i class="fa-regular fa-paper-plane"></i>
      </a>
    <% end %>

  </div>

</div>
