

<div id="bubble-menu-container" data-navbar-target='bubbleMenu'>
</div>

<div id='toggle' data-action='click->navbar#showMenu' data-navbar-target='toggleButton'>
  <div class='line1'></div>
  <div class='line2'></div>
  <div class='line3'></div>
</div>
