<div class="container">
  <div class= "dashboard-title">
    <h2>Dashboard</h2>
  </div>
  <div class="dashboard-card">

  <%# create a container with avatar pic and name on same row %>
  <%# avatar %>
  <%# full name of the guy %>
  <div class="dashboard-contact">
    <H5>avatar picture</H5>
    <H5>tom tushambon</H5>
  </div>


  <%# diplay the last message of the chat room  %>

  <div class="chat_container">
      <div class="chat_card">
        <%# stuff  %>
      </div>
      happy you
  </div>
  <%# 3 icon, accepted, text (open the dm), delete %>
</div>
