<div class="container">
    <% if current_user.artist %>
      <h3>Welcome <%= current_user.artist.name %></h3>

    <div class="dashboard-card">
    <div class="calendar-blue">
    </div>
    <div class="something-yellow">
    </div>
    <div class="logout-black">
    </div>
    <div class="edit-profile-red">
    </div>
  </div>
  <% end %>
</div>
