<div class="container">
  <h2>Dashboard:</h2>
    <% if current_user.artist %>
      <h3>Welcome <%= current_user.artist.name %></h3>
    <div class="dashboard-card">
      <% current_user.artist.bookings.each do |booking| %>
        <div class="artist-booking-card">
          <h4>Booking request from: <em class='red-text'><%= booking.user.first_name %> <%= booking.user.last_name %></em></h4>
        <% if booking.confirmed == false %>
          <div class="confirm">
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-arrow-right"></i> <%= link_to 'Victoria click on this!', confirm_booking_path(booking), class: 'btn btn-success' %><i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-up"></i>
          </div>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
