<div class="container">
  <h2 style='font-family: "DIN bold", sans-serif'>Dashboard</h2>
  <div class="chat_container">
      <div class="chat_card">
        <%# stuff  %>
      </div>
      happy you
  </div>
</div>
