<div class="container">
  <div class= background-lines>
  <div class='vl-center'></div>
  <div class='vl-r1'></div>
  <div class='vl-r2'></div>
  <div class='vl-r3'></div>
  <div class='vl-r4'></div>
  <div class='vl-r5'></div>
  <div class='vl-r6'></div>
  <div class='vl-l1'></div>
  <div class='vl-l2'></div>
  <div class='vl-l3'></div>
  <div class='vl-l4'></div>
  <div class='vl-l5'></div>
  <div class='vl-l6'></div>
  </div>
  <div id="landing-container">
    <h1 id='melo-logo-text'>mélo</h1>
    <div id="squares" class='' data-controller='squares' data-squares-target='squaresCont'>
      <div class="square1" data-squares-target='topLeft'></div>
      <div class="square2"></div>
      <div class="square3"></div>
      <div class="square4" data-squares-target='topRight'></div>
      <div class="square5"></div>
      <div class="square6"></div>
      <div class="square7"></div>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary', class: 'login', data: { squares_target: 'login'} %>
      <div class="square8"></div>
      <div class="square9"></div>
      <div class="square10"></div>
      <div class="square11"></div>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary', class: 'signup', data: { squares_target: 'signup'} %>
      <div class="square12"></div>
      <div class="square13"></div>
      <div class="square14"></div>
      <a class='about' data-action='click->squares#aboutMode' data-action='touchstart->squares#aboutMode' data-squares-target='about'>About us</a>
      <div class="square16"></div>
      <div class="square17"></div>
      <div class="square18"></div>
      <div class="miniBlackBox" data-squares-target='miniBlackBox'>
        <h2 id="melo-slogan">Be out there</h2>
      </div>
      <div class="blackBox" data-squares-target='blackBox'>
        <p class='about-text'> It's never been easier to put your talent on the map. <br>
          Whether you are looking to perform or simply book an artist, <br>
          Mélo is here to connect music makers with music lovers.
        </p>
      </div>
    </div>
  </div>
</div>
