<h1>MEEEEEEEEEEELOOOOOOOO</h1>
<p>Make an account NOW OR DIE</p>
<%= link_to 'Create an Account', new_user_registration_path, class: 'btn btn-primary' %>
<%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary' %>
