.card-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.artist-card {
  border: 2px solid $light-gray;
  width: 360px;
  position: relative;
  height: 480px;

  .tiles{
    z-index: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100%;

    .color-tile{
      grid-column: 1 2;
      grid-row: 1 2;
    }
  }

  .rating {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 24px;
    font-family: 'DIN bold', sans-serif;
  }

  .main-img{
    z-index: 3;
    filter: grayscale(100%);
    position: absolute;
    height: 60%;
    width: 60%;
    object-fit: cover;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #artist-name-tags {
    position: absolute;
      z-index: 5;
      right: 10px;
      top: 75%;
      border: 2px dashed greenyellow;
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        -webkit-align-items: flex-end;
      }
      h2 {
        position: relative;
        display: block;
        font-size: 4rem;
        color: $gray;
        font-family: 'DIN bold', sans-serif;
        margin-bottom: 0 !important;
        z-index: 5;
      }
      .tags {
        position: relative;
        display: block;
        font-family: 'DIN bold', sans-serif;
        font-size: 0.9rem;
        margin-top: -15px !important;
        z-index: 4;
        margin-bottom: 0;
      }

    }

  i {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 148.75%;
    color: $gray;
  }
  #artist-location-genre {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 5px;
    column-gap: 6px;
    h3 {
      display: block;
      font-size: 1.9rem;
      font-family: 'DIN bold', sans-serif;
      margin: 0;
      margin-bottom: 0 !important;
    }
    .line {
      display: block;
      width: 4px;
      height: 26px;
    }
    h4 {
      display: block;
      font-size: 1.3rem;
      font-family: 'DIN bold', sans-serif;
      margin: 0;
      margin-bottom: 0 !important;
    }
  }
}
