.booking-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 20px;
  margin-top:7px;
  width: 90%;
  font-family: $body-font;
  .infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    img {
      border: 1px solid $gray;
      height: 200px;
      width: 120px;
      object-fit: cover;
    };
  }
  .meta {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;

    p{
      line-height: 3px;
    }
    .title {
      margin-top: 0px !important;
    }
    .booking-content-part2{
      margin-top:22px;
      color: $gray !important;
    }

  }
}
