.booking-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 55px;
  width: 100%;
  .infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    img {
      height: 200px;
      width: 100px;
      object-fit: cover;
    };
  }
  .meta {
    display: flex;
    flex-direction: column;
    .title {
      margin-top: 0px !important;
    }
  }
}
