.booking-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 20px;
  margin-top:7px;
  width: 100%;
  font-family: $body-font;
  .infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    img {
      border: 1px solid $gray;
      height: 200px;
      width: 100px;
      object-fit: cover;
    };
  }
    .meta {
    display: flex;
    flex-direction: column;

    p{
      line-height: 1px;
    }
    .title {
      margin-top: 0px !important;
    }
  }
}
