
// Chat index styling ---------------
.rooms-container {
  display: flex;
  flex-direction: column;
  .room-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: $white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 2px rgba($color: #000000, $alpha: 0.1);
    .avatar {
      position: absolute;
      height: 30px;
      width: 30px;
      right: 5px;
      bottom: 5px;
      transform: translate(50%, 50%);
      border: 2px solid $white;
      box-shadow: 0px 0px 2px 1px rgba($color: #000000, $alpha: 0.1);
    }
    .content {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        .chat-name {
          font-weight: bold;
          margin-bottom: 0px;
        }
        .last-message {
          font-size: 0.9rem;
          color: $gray;
          opacity: 0.9;
          margin-bottom: 0px;
        }
      }
    }

    .right {
      .time-stamp {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        color: $gray;
        opacity: 0.7;
        margin-bottom: 0px;
        width: 100%;
        justify-content: flex-end;
      }
    }

  }

}
// -----------------------------

// Chat room styling

#chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;

  .recipient-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
    h2 {
      margin-bottom: 0px;
    }
    .avatar {
      border: 2px solid $white;
      box-shadow: 0px 0px 2px 1px rgba($color: #000000, $alpha: 0.1);
    }
  }
  .chat-form {
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    // position: absolute;
    // bottom: 10px;
    // left: 50%;
    // transform: translateX(-50%);
    box-shadow: 0px 0px 3px 2px rgba($color: #000000, $alpha: 0.1);

    #message_content {
      background: $white;
      box-shadow: 0px 0px 3px 2px rgba($color: #000000, $alpha: 0.1);
    }
    .message_content {
      width: 80%;
      margin-bottom: 0px !important;
    }
    .btn-primary {
      width: 20%;
    }
  }

  .messages-container {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("background_img.jpeg");
    background-position: center;
    background-size: cover;
    border: 3px solid $white;
    border-radius: 5px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 3px 2px rgba($color: #000000, $alpha: 0.2);
    overflow: scroll;

     // img {

    //   filter: grayscale(100%);
    //   height: 100%;
    //   width: 100%;
    //   position: absolute;
    //   top: 0%;
    //   left: 0%;
    //   object-fit: cover;
    //   opacity: 0.8;
    //   z-index: 1;
    // }


    .message-card {
      background: $tan;
      border: 1px solid $gray;
      width: fit-content;
      border-radius: 5px;
      margin-bottom: 10px;
      &.own {
        align-self: flex-end;
        background: $blue;
        .content {
          color: $white;
        }
        .elapsed {
          color: $white;
        }
      }
      .content {
        color: rgba($color: #000000, $alpha: 0.7);
        font-family: 'DIN bold', sans-serif;
        background: none;
        text-align: center;
        margin-bottom: 0px;
        padding: 0px 5px;
      }
      .elapsed {
         margin-bottom: 0px;
         padding: 0px 5px;
         width: 100%;
         opacity: 0.7;
         font-size: 0.7rem;
         text-align: end;
      }
    }
  }
}
