.artist-booking-card {
  display: grid;
  z-index: 1;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  flex-direction: column;
  padding: 10px;
  background: $tan;
  border: 2px solid $gray;

  .calendar-blue {
    background-color: $blue;
  }

  .something-yellow {
    background-color: $yellow;
  }

  .logout-black {
    background-color: $black;
  }

  .edit-profile-red {
    background-color: $red;
  }
}
