.artist-booking-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: $tan;
  border: 2px solid $gray;
  .fa-check {
    font-size: 2rem;
  }
  p {
    color: $green;
    font-size: 1.2rem;
  }
  .confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    border: 2px solid $green;
    .center {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
    }
    i {
      color: $green;
      font-size: 1.5rem;
    }
  }
}
