#melo-nav {
  position: fixed;
  z-index: 10;
  background-color: $tan;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba($color: $gray, $alpha: 0.7);
  // &::after {
  //   content: '';
  //   width: 100%;
  //   position: absolute;
  //   left: 50%;
  //   bottom: -2px;
  //   height: 1px;
  //   background: rgba($gray, 0.7);
  //   transform: translateX(-50%);
  // }
  .bar  {
    display: flex;
    width: 100%;
    padding: 0px 15px;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;

    #search-bar {
      // position: absolute;
      bottom: 0%;
      border: none;
      background-color: $tan;

      #search-btn {
        bottom: 0%;
        // position: absolute;
        background-color: $tan;
        border: none;
        color: $black
      }
    }

      #melo-logo-text{
        font-size: 3.3rem;
        text-decoration: none;
        margin-bottom: -0.5rem;
      }

      .nav_button{
      color: $gray;
      font-size: 2rem;
      margin-bottom: -1rem;
      }
  }

  .show-search-bar{
    height: 30px;
    width: 100%;
    transition:ease;
    position: relative;
    top: -7px;

  }

}
