#melo-nav {
  position: fixed;
  z-index: 10;
  background-color: $tan;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba($color: $gray, $alpha: 0.7);
  // &::after {
  //   content: '';
  //   width: 100%;
  //   position: absolute;
  //   left: 50%;
  //   bottom: -2px;
  //   height: 1px;
  //   background: rgba($gray, 0.7);
  //   transform: translateX(-50%);
  // }
  .bar  {
    display: flex;
    width: 100%;
    padding: 0px 15px;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;

    #melo-logo-text{
      font-size: 3.3rem;
      text-decoration: none;
      margin-bottom: -0.5rem;
    }

    .nav_button{
    color: $gray;
    font-size: 2rem;
    margin-bottom: -1rem;
    }
  }

  .show-search-bar{
    height: 30px;
    width: 100%;
    transition:ease;
    position: relative;
    top: -7px;
    background-color: $tan;
  }

  #search-input{
    background-color: $tan;
    color: $gray;
    border:none;
    border-bottom: 1px solid $gray;
    font-size: 18px;
  }


  #search-btn{
    color: $gray;
    background-color: $tan;
    width: 50%;
    border: none;
    border-radius: none;
    border-bottom: 1px solid $gray;
  }

  .nav-bar-left-side{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #btn-search{
    font-size: 160%;
    top: 3px;
    padding: 0px 0px;
    margin-top: 20px;
    margin-right: 28px;
    opacity: 0.6,
  }

}
