#melo-nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: $tan;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 1px;
    background: rgba($gray, 0.7);
    transform: translateX(-50%);
  }
  .bar  {
    display: flex;
    width: 100%;
    padding: 0px 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 2.8rem;
    }
    a {
      color: $gray;
      font-size: 1.2rem;
    }
  }
}
