
.carousel-indicators [data-bs-target] {
background-color: $orange;
width: 10px;
height: 10px;
border-radius: 50%;
}


.swiper-wrapper {
  // border: 3px solid black; DO NOT WANT THAT
  display: flex;
  height: 450px;
  width: 90vw;
  margin: 0 auto;
  box-shadow: 8px 8px #b9302a;

  img {
    border: 5px solid black;
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;

  }
}

// .swiper-slide {
//   height: 300%;
//   width: 60px;
//   display: flex;
//   align-items:center;
//   justify-content: center;
// }


// .photo_div {
//   border: 3px solid black;
//   position: absolute;
//   height: 200px;
//   width: 60%;
//   object-fit: cover;
//   top: 45%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// #myCarousel {
//   .carousel-control-prev-icon {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236229' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
//   }

//   .carousel-control-next-icon {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23E06229' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
//   }
// }
