@import "photo";

.metrix-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 10px 5px;
  align-items: center;
  margin: 0 auto;
  border-top: 2px solid $gray;
  .book_me, .text_me {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    text-decoration: none !important;
    h2 {
      margin-bottom: 0px;
      font-family: $body-font;
      color: $gray !important;
      text-decoration: none !important;
    }
    .calendar{
      size-adjust: 150%;
      text-decoration: none !important;
    }
    .fa-paper-plane {
      text-decoration: none !important;
    }
  }
}
.rating {
  text-decoration: none !important;
}
.second_row_info{
  border-top: 2px solid $gray;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-top: 10px;
  padding-left: 5px;
  align-items: center;
  margin: 0 auto;
  h2{
    font-family: $headers-font;
    font-size: 240%;
  }

}

.description{
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  font-family: $body-font;
  .tag{
    text-align: right;
    p{
      color: $red;
    }
  }
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 10px 5px;
  align-items: center;
  margin: 0 auto;
  border-top: 2px solid $gray;

  h4{
    font-family: $headers-font;
  }
}

.icon{
  font-size: 180%;
}



.artist_photo_div {
  border: 8px solid $gray;
  outline: 2px solid $red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  .photo {
    width: 100%;
    object-fit: cover;
  }
}
.orange{
 color: $orange;
}

.introduction{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.color{
  color:$red;
}
