// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@font-face {
  font-family: 'Futura Bold';
  src: url('./fonts/Futura-Bold.ttf') format('truetype');
}

body {
  box-sizing: border-box;
}
.grit {
  -webkit-mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
  mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
  z-index: -1;
}
a {
  text-decoration: none;
}

#melo-logo-text, #melo-slogan {
  font-family: 'Futura Bold', sans-serif;
  color: $gray;
  margin: 0;
}

.btn {
  font-size: 1.2rem;
}
.btn-primary {
  color: $white;
}

.red-text {
  color: $red;
  text-decoration: none;
  font-style: normal;
}


.blue-text {
  color: $blue;
  text-decoration: none;
  font-style: normal;
}


.green-text {
  color: $green;
  text-decoration: none;
  font-style: normal;
}


.red-bubble {
  color: $white;
  width: fit-content;
  text-decoration: none;
  font-style: normal;
  padding: 4px 6px;
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: rgba($color: $red, $alpha: 0.7);
  margin-bottom: 5px;
}

.green-bubble {
  color: $white;
  text-decoration: none;
  width: fit-content;
  font-style: normal;
  font-size: 0.7rem;
  padding: 4px 6px;
  border-radius: 5px;
  background-color: rgba($color: $green, $alpha: 1);
  margin-bottom: 5px;
}
