// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@font-face {
  font-family: 'Futura Bold';
  src: url('./fonts/Futura-Bold.ttf') format('truetype');
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

#melo-logo-text, #melo-slogan {
  font-family: 'Futura Bold', sans-serif;
  color: $gray;
  margin: 0;
}

.btn {
  font-size: 1.2rem;
}
.btn-primary {
  color: $white;
}

.red-text {
  color: $red;
  text-decoration: none;
  font-style: normal;
}
